* {
    box-sizing: border-box;
    font-family: 'Quantico', sans-serif;
  }
  
body {
    height: 100vh;
    margin: 0;
    font-family: Helvetica;
    display: grid;
    grid-template-columns: 7.5fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
         "gameContent charStats";
    }

#icon-home h1 {
    color: white;
    font-size: 50px;
    display: flex;
    padding-right: 120px;
    align-items: center;
    text-shadow: 3px 4px #CB444B;
}

.gameContents {
    grid-area: gameContent;
    background-size: cover;
    padding-top: 20px;
    padding-right: 30px;
    text-align: center;
}

.gameBack1 {
    background-image: url(../imgs/home_screen.jpg);
}

.gameBack2 {
    background-image: url(../imgs/town.jpg);
}

.gameBack3 {
    background-image: url(../imgs/forest.jpg);
}

.gameBack4 {
    background-image: url(../imgs/mountains.jpg);
}

#icon-home {
    display: flex;
    justify-content: flex-end;
}

#icon-set1, #icon-set2, #icon-set3 {
    display: flex;
    justify-content: flex-end;
}


#home, #alchemist, #weaponsmith, #town {
    font-size: 2vmin;
    color: #353A40;
    border: 4px solid #353A40;
    padding: 6px;
    border-radius: 25px;
    background-color: white;
    margin: 5px;
}

#forest, #mountains {
    font-size: 2vmin;
    color: #f6c344;
    border: 4px solid #f6c344;
    padding: 6px;
    border-radius: 25px;
    background-color: white;
    margin: 5px;
}

#fight {
    font-size: 2vmin;
    color: #CB444B;
    border: 4px solid #CB444B;
    padding: 6px;
    border-radius: 25px;
    background-color: white;
    margin: 5px;
}

#adventure {
    font-size: 5vmin;
    color: #CB444B;
    border: 4px solid #CB444B;
    padding: 6px;
    border-radius: 25px;
    background-color: white;
    margin: 5px;

}

.icons {
    font-size: 9vmin;
    display: flex;
    min-width: 110px;
    /* align-items: flex-end; */
    
}
.icons_1 {
    font-size: 14vmin;
    min-width: 110px;
    padding-left: 45px;
    display: flex; 
}


.charStats {
    grid-area: charStats;
    background-color: lightgray;
    border: 7px solid lightgray;
}

.card-img-top {
    height: 320px;
    min-width: 300px;
}

.card-body {
    background-color: lightgrey;
    height: 100%;
}

.snake-img, .wolf-img {
    height: 100%;
}


.creatureStats {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    text-align: left;
}
.creatureStats2 {
    display: flex;
    justify-content: center;
    padding-top: 130px;
    text-align: left;
}

.create-char {
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: 260px;
    margin-left: 25px;
    float: right;
}

.combat-card {
    margin-left: 20px;
}

.combat-card .list-group {
    height: 10px;
}

.card-header {
    height: 15%;
}

.charStats li.list-group-item {
    display: flex;
}

.creatureStats li.list-group-item {
    display: flex;
}

